@font-face {
    font-family: 'rangerregular';
    src: url('/assets/fonts/ranger/ranger_regular-webfont.eot');
    src: url('/assets/fonts/ranger/ranger_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/ranger/ranger_regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/ranger/ranger_regular-webfont.woff') format('woff'),
         url('/assets/fonts/ranger/ranger_regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/ranger/ranger_regular-webfont.svg#rangerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
	margin: 0;
	padding: 0;
}

html{
	font-family: 'Helvetica', 'Arial', sans-serif;
	/* DIRTY FIX om de gehele achtergrond zwart te houden na resize door full screen mode */
	background: #252525; 
}

#container{
	background: black;
	width: 100%;
	height: 100%;
}

#test{
	display: block;
	z-index: 999999;
	position: absolute;
	top: 200px;
	left: 200px;
	width: 200px;
	height: 200px;
	background-color: rgba(255,0,0,.3);
}

#score-container{
	-webkit-transform: rotate(90deg);
	position: absolute;
	z-index: 999999;
	top: 70px;
	left: 950px;
	display: block;
	width: 200px;
}

#star{
	float: left;
	width: 23px;
}

#lives{
	margin-left: 10px;
	float: left;
	font-family: rangerregular;
	font-weight: bold;
	font-size: 32px;
	color: #ffffff;
	text-align: left;
	display: block;
	margin-bottom: 5;
}

#distance{
	font-family: rangerregular;
	font-weight: bold;
	font-size: 40px;
	color: #ffffff;
	text-align: left;
	display: block;
	margin-bottom: 5;
}

#multi{
	font-family: rangerregular;
	font-weight: bold;
	font-size: 32px;
	color: #ffffff;
	text-align: left;
	display: block;
	margin-bottom: 5;
	opacity: .6;
}

#menu{
	-webkit-transform: rotate(90deg);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999999;
	width: 400px;
	height: 500px;
	background-color: #ea7542;
	margin-left: 360px;
	margin-top: 40px;
}

#logo{
	width: 200px;
	margin-top: 20px;
	margin-left: 100px;
}

#robot{
	width: 110px;
	margin-top: 20px;
	margin-left: 145px;
}

#buttons{
	width: 120px;
	margin-top: 30px;
	margin-left: 140px;
}

#menu span{
	color: #ffffff;
	margin-top: 20px;
	display: block;
	width: 100%;
	text-align: center;
}

#menu2{
	-webkit-transform: rotate(90deg);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999999;
	width: 400px;
	height: 500px;
	background-color: #ea7542;
	margin-left: 360px;
	margin-top: 40px;
}

#robot_busted{
	width: 110px;
	margin-top: 20px;
	margin-left: 145px;
}

#buttons2{
	width: 120px;
	margin-top: 30px;
	margin-left: 140px;
}

#menu2 span{
	color: #ffffff;
	margin-top: 20px;
	display: block;
	width: 100%;
	text-align: center;
}

#busted{
	font-size: 24px;
	color: #ffffff;
	margin-top: 20px;
	display: block;
	width: 100%;
	text-align: center;
}

#start-button{
	text-align: center;
	color: #ffffff;
	font-size: 40px;
	font-weight: lighter;
	cursor: pointer;
	display: block;
	margin-top: 100px;
	width: 150px;
	margin-left: 105px;
	padding: 15px;
	border: 1px solid #ffffff;
}

#start-button:hover{
	cursor: pointer;
	display: block;
	margin-top: 100px;
	width: 150px;
	margin-left: 105px;
	padding: 15px;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	color: #151515
}

#player-score{
	background: rgba(255,255,255,.05);
	display: block;
	width: 400px;
	text-align: center;
	color: #ffffff;
	font-size: 40px;
	font-weight: bolder;
	margin-top: 200px;
	padding: 15px 0;
}

#dark{
	width: 1150px;
	height: 580px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.8);
	display: block;
	z-index: 99999998;
}

#sliders{
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 999;
	padding: 10px;
	color: #6B6B6B;
	background-color: rgba(255,255,255,.03);
}

#sliders div{
	margin-bottom: 15px;
	text-align: center;
}

#fs-button{
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 10px;
	color: #6B6B6B;
	background-color: rgba(255,255,255,.03);
	z-index: 998;
	cursor: pointer;
}

#bg-canvas-container, #top-canvas-container{
	position: absolute;
	top: 0;
	left: 0;
}

.dummy{
	width: 0;
	height: 0;
	clear: both;
}

/*#canvas-container{
	background-color: rgba(0,0,0,0);
    -webkit-transform: rotateX(0deg);
    -webkit-transform: rotateY(0deg);
    -webkit-transform: rotateZ(0deg);
    -webkit-transform: skaleX(1);
    -webkit-transform: skaleY(1);
    -webkit-transform: skew(0,0);
}
*/